In [5]:
import pandas as pd

In [12]:
!rm "../../02. Madison Subset/Madison_Reviews_Exp.csv"

In [13]:
!ls "../../02. Madison Subset"

Madison_BusinessIds.csv		  Madison_Reviews.csv
MadisonRestaurants_CheckIn.csv	  Madison_UserIds_FromTipData.csv
MadisonRestaurants.csv		  MadisonUsersPartial.csv
MadisonRestaurants_Tip_Check.csv  MadisonUsersPartial.xlsx
MadisonRestaurants_Tip.csv

In [9]:
bdf = pd.read_csv("../../02. Madison Subset/MadisonRestaurants.csv")
rdf = pd.read_csv("../../02. Madison Subset/Madison_Reviews_Exp.csv")

In [10]:
df = bdf.merge(rdf, on="business_id")

In [11]:
df.head()

,Unnamed: 0_x,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,...,funny,useful,review_id,text,stars_y,date,user_id,cool,datetime,yelp_lifetime
0,387,1BQzXcXFxR6MlVIYmG93kw,Zandru's,419 State St,Madison,WI,53703.0,43.074724,-89.392598,3.5,...,0,1,M55Dbvn7123F1eTxe1b7-Q,So far not impressed. Here for a bachelorette ...,1.0,2017-05-13 23:30:46,3tco9dK9yCqsNk6olGqkqw,0,2017-05-13 23:30:46,0.649315
1,387,1BQzXcXFxR6MlVIYmG93kw,Zandru's,419 State St,Madison,WI,53703.0,43.074724,-89.392598,3.5,...,0,0,cOeYP-7lY2Kb_0MgUYO4Kg,"Delicious, authentic Spanish food! Friendly s...",5.0,2017-08-17 00:05:49,2m-KLSt4yC3zTTBcyv46Tw,0,2017-08-17 00:05:49,0.649315
2,387,1BQzXcXFxR6MlVIYmG93kw,Zandru's,419 State St,Madison,WI,53703.0,43.074724,-89.392598,3.5,...,3,7,YVs9P-DoILfXq08UKwOaxA,"With only one review in for the new Zandru's, ...",2.0,2017-04-20 14:40:55,8teQ4Zc9jpl_ffaPJUn6Ew,1,2017-04-20 14:40:55,0.649315
3,387,1BQzXcXFxR6MlVIYmG93kw,Zandru's,419 State St,Madison,WI,53703.0,43.074724,-89.392598,3.5,...,0,0,RtIHX4mGwBPnJc8mC8wPtA,Great drinks! We just got the Spanish combinat...,5.0,2017-10-04 16:40:30,tm9jucB14wjhZZ00dNdsuQ,0,2017-10-04 16:40:30,0.649315
4,387,1BQzXcXFxR6MlVIYmG93kw,Zandru's,419 State St,Madison,WI,53703.0,43.074724,-89.392598,3.5,...,0,1,c15Uor559lavT8N13NQLDw,I literally made this yelp account to warn eve...,1.0,2017-05-17 01:11:03,9Q45WYIP-ZHOVAZpYGFVpA,0,2017-05-17 01:11:03,0.649315